@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=DM+Sans:wght@300;400;500&display=swap');

@import "tailwindcss";

html,
body,
#root {
  overflow-x: hidden;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: #1E1040;
}

.font-cormorant {
  font-family: 'Cormorant Garamond', serif;
}